{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class='d-flex justify-content-center flex-column align-items-center'>
    <h1 class='display-1'>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>
    </div>
    {% for post in blogpages %}
    
    <div class='d-flex justify-content-center flex-column align-items-center mb-5 mt-5 border rounded w-75 ms-auto me-auto'>
        {% with post=post.specific %}
                    {% with post.main_image as main_image %}
                    
                    {% if main_image %}
                      <div class="pt-4">
                        {% image main_image fill-240x180 %}
                      </div>
                    {% endif %}
            {% endwith %}
            <h3 class='mt-4'><a href="{% pageurl post %}">{{ post.title }}</a></h3>

            <figure class='mt-4'>
                <blockquote class="blockquote">
                    <p>{{ post.intro }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Monty Python and the Holy Grail (1975)
                </figcaption>
            </figure>
            {% comment %} {{ post.body|richtext }} {% endcomment %}
        {% endwith %}
    </div>
    {% endfor %}

{% endblock %}